version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: sslmanager-db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./sslmanager_pgdata:/var/lib/postgresql/data

volumes:
  sslmanager_pgdata:
